.right-bottom{
    width: 80%;
    display: flex;
    
    flex-direction: column;
}
.cart{
    border-top: black 2px solid;
    border-bottom: black 2px solid;
    width: 100%;
    margin-top: 15px;
}
.element{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.product{
    display: flex;
    align-items: center;
}
.product h3{
    margin-left: 8px;
}
.product img{
    width: 100px;
}
.options{
    display: flex;
    align-items: center;
}
.options .price{
    margin-right: 30px;
}
.delete{
    color:red;
}
.delete:hover{
    cursor: pointer;
    /*text-shadow: 3px 3px 10px red;*/
    text-decoration: underline;
    text-underline-offset: 10px;
}
.sum{
    border-top: 2px solid black ;
    display: flex;
    justify-content: end;
    padding: 20px;
}
.amount{
    font-size: 20px;
    font-weight: bold;
    max-width: 50px;
    text-align: center;
    margin-right: 30px;
}
.empty{
    padding: 30px;
    text-align: center;
    color: red;
}
.order{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    align-self: center;
}
.order h2{
    text-decoration: underline;
    text-underline-offset: 10px;
}
.order h3{
    padding: 10px;
}
.order input[type=text], .order input[type=tel], .order input[type=mail]{
    width: 100%;
}
.order div input[type=radio]{
    cursor: pointer;
}
.max{
    width: 100%;
}
.order input, .order h4, .padding{
    padding: 3px;
    display: flex;
    align-items: center;
}
.order input[type=submit]{
    padding: 10px;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
    border-radius: 17px;
    border: 2px black solid;
}
.order input[type=submit]:hover{
    opacity: 85%;
    box-shadow: black 3px 3px 7px;
    cursor: pointer;
}
.padding img{
    max-width: 60px;
}