.right-bottom{
    flex-direction: row;
}
.buttons-option{
    display: flex;
    padding: 10px;
    padding-bottom: 0px;
}
.button, .button select{    
    border: #000000 2px solid;
    border-radius: 10px;
    padding: 5px;
    
    font-size: 1.17em;
    font-weight: bold;
}
.button:hover{
    cursor: pointer;
    box-shadow: rgb(110, 110, 110) 3px 3px 7px;
}
.filtr{
    width: fit-content;
    border:#000000 2px solid;
    border-radius: 17px;
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
}
.filtr h4{
    font-weight: normal;
}
.filtr input{
    font-size: 15px;
    margin-top: 10px;
}
.buttons-option img{
    height: 38px;
}
.added{
    position: absolute;
    background: black;
    padding: 10px;
    border-radius: 17px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.flex{
    display: flex;
    justify-content: space-between;
    justify-self: center;
    width: 100%;
    padding: 30px;
}
.button2{
    border: solid 2px white;
    padding: 10px;
    text-decoration: none;
    color:white;
    border-radius: 10px;
    font-size: 1.17em;
    font-weight: bold;
}
.button2:hover{
    cursor: pointer;
    box-shadow: rgb(110, 110, 110) 5px 5px 7px;
}


/* POPULAR POST*/

.popular-post{
    display: flex;
    margin-top: 40px;
    max-width: 950px;
    border: black solid 2px;
    border-radius: 17px;
}
.popular-post img{
    border: 3px black solid;
    border-radius: 15px;
    max-width: 400px;
}
.popular-post:hover{
    opacity: 85%;
    box-shadow: black 3px 3px 7px;
}
.popular-post h2{
    padding-left: 15px;
    text-align: start;
}
.popular-post p{
    padding-left: 15px;
    padding-right: 10px;
}
.in{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.addbasket{
    display: flex;
    justify-content: flex-end;
    padding:20px; 
}
.addbasket a{
    text-decoration: none;
    background: rgb(110, 110, 110);
    padding: 8px;
    border-radius: 10px;
    color:white;
}
.addbasket a:hover{
    box-shadow: black 3px 3px 7px;
    opacity: 100%;
}
.right-left{
    width: 65%;
}
.right-right{
    width: 25%;
}
.border{
    border: black 2px solid;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
}
.suggest-post{
    display: flex;
    margin-top: 40px;
    border: black solid 2px;
    border-radius: 17px;
    
}
.suggest-post img{
    border: 3px black solid;
    border-radius: 15px;
    max-height: 100px;
}
.suggest-post h2{
    max-width: 200px;
    padding-left: 10px;
    text-align: start;
    font-size: medium;
}
.suggest-post:hover{
    opacity: 85%;
    cursor: pointer;
    box-shadow: black 3px 3px 7px;
}
.border2{
    border: white 2px dashed;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-radius: 17px;
}
.ad{
    margin-top: 100px;
}