.right-bottom{
    width: 60%;
}
.opinion{
    color: #000000;
    margin-top: 40px;
    border-radius: 17px;
    border: black solid 2px;
}
.opinion h2, .opinion h3, .opinion h5{
    padding: 5px;
}
.opinion h3{
    font-weight: normal;
}
.opinion h5{
    text-align: end;
    font-weight: lighter;
}
.right-top a{
    padding: 10px;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
    border-radius: 17px;
    border: 2px black solid;
    text-decoration: none;
    color: black;
    background: #F0F0F0;
}
.right-top a:hover{
    opacity: 85%;
    box-shadow: black 3px 3px 7px;
    cursor: pointer;
}
.topop{
    display: flex;
    justify-content: space-around;
}
h4{
    text-align: center;
}

.right-bottom2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right-bottom2 form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right-bottom2 form h3{
    padding: 7px 0px;
}
.right-bottom2 form input[type=submit]{
    padding: 10px;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
    border-radius: 17px;
    border: 2px black solid;
}
.right-bottom2 form input[type=submit]:hover{
    opacity: 85%;
    box-shadow: black 3px 3px 7px;
    cursor: pointer;
}
.opi{
    height: 150px;
}
.right-bottom2 div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right-bottom2 img{
    max-width: 100px;
}
.right-bottom2 div a{
    padding: 10px;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
    border-radius: 17px;
    border: 2px black solid;
    text-decoration: none;
    color: black;
    background: #F0F0F0;
}
.right-bottom2 div a:hover{
    opacity: 85%;
    box-shadow: black 3px 3px 7px;
    cursor: pointer;
}