.right-bottom{
    flex-direction: row;
}
.right-bottom2{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.right-left3{
    margin-top: 30px;
    padding: 30px;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right-left3  h1{
    text-align: center;
}
.right-left{
    margin-top: 30px;
    width: 80%;
}
.button{  
    margin-top: 50px;  
    text-decoration: none;
    color: black;
    border: #000000 2px solid;
    border-radius: 10px;
    padding: 5px;
    font-size: 1.17em;
    font-weight: bold;
    background: #F0F0F0;
}
.button:hover{
    cursor: pointer;
    box-shadow: rgb(110, 110, 110) 3px 3px 7px;
}
.outlog{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
.right-right{
    width: 15%;
    display: flex;
    justify-content: center;
}
.right-right img{
    height: 750px;
}
.choose{
    width:70%;
    display: flex;
    justify-content: space-between;
}
.right-left form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right-left form h3{
    padding: 7px;
}

.added{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.added img{
    max-width: 100px;
}
.added a{
    padding: 10px;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
    border-radius: 17px;
    border: 2px black solid;
    text-decoration: none;
    color: black;
    background: #F0F0F0;
}
.added a:hover{
    opacity: 85%;
    box-shadow: black 3px 3px 7px;
    cursor: pointer;
}

.right-left2{
    width: 80%;
}
.post{
    display: flex;
    border: black 2px solid;
    border-radius: 17px;
    justify-content: space-between;
    margin-top: 35px;
    align-items: end;
}
.post img{
    max-width: 75px;
    border-radius: 18px;
    margin-left: 3px;
}
.post h5{
    margin-right: 20px;
}

.right-left2 h1{
    text-align: center;

}
.center{
    text-align: center;
}